

.swapViews-enter {
    opacity: 0;
}

.swapViews-enter-active {
    opacity: .9;
    transition: all 400ms ease-in;
}

.swapViews-exit {
    opacity: .9;

}

.swapViews-exit-active {
    opacity: 0;
    transition: all 400ms;
}